/*
  Специально для светлой темы при наличии класса.
  Здесь окажутся стили, которые нужно переопределить принудительно,
  переключая тему
*/
:root .theme-light {
  --background-image: url(../images/cover-image-light.png);
  --accent-font: 'IBM Plex mono', monospace;
  --background-color: #FFF1F7;
  --accent-color: #353430;
  --text-shadow: #FF8DCB;
  --accent-text-color: #353430;
  --title-color: #FFC2E6;
  --main-text-color: #353430;
  --border-color: #353430;
}

.page.theme_light {
  --background-image: url(../images/cover-image-light.png);
  --accent-font: 'IBM Plex mono', monospace;
  --background-color: #FFF1F7;
  --accent-color: #353430;
  --text-shadow: #FF8DCB;
  --accent-text-color: #353430;
  --title-color: #FFC2E6;
  --main-text-color: #353430;
  --border-color: #353430;
}

.page.theme_light .decorative_element {
  display: none;
} 

@media (prefers-color-scheme: light) {
  :root {
    --background-image: url(../images/cover-image-light.png);
    --accent-font: 'IBM Plex mono', monospace;
    --background-color: #FFF1F7;
    --accent-color: #353430;
    --text-shadow: #FF8DCB;
    --accent-text-color: #353430;
    --title-color: #FFC2E6;
    --main-text-color: #353430;
    --border-color: #353430;
  }
  .decorative_element {
    display: none; 
  }
}

