.page {
  min-inline-size: 375px;
  background-color: var(--background-color, #000028);
  font-family: var(--accent-font, 'IBM Plex mono', monospace);
  background-image: var(--background-image);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  /* сохраните в разметке и стилях класс page. На его основе работает скрипт. */
}

.header__theme-menu-button:focus {
  outline: none;
}

.header__theme-menu-button:focus-visible {
  outline: none;
  border-bottom: 1px solid var(--border-color, #ff0070);
}

.header__theme-menu-button:hover {
  /*border: 1px solid rgba(255, 0, 112, 0.40);*/
  border: 1px solid var(--border-color, #ff0070);
}

.header__theme-menu-button_active:disabled {
  pointer-events: none;
  border: 1px solid var(--border-color, #FF0070);
}

.header__theme-menu-button {
  background-color: transparent;
  border: none;
  text-align: center;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 18px; /* 100% */
  padding-inline-start: 13px;
  padding-inline-end: 13px;
  padding-block: 3px;
}

.header__theme-menu {
  color: var(--accent-color, #ff0070);
  padding-block-end: 65px;
  padding-block-start: 65px;
}

.header__theme-menu-list {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  gap: 13px;
}

.header {
  position: relative;
  padding: 10px;
  block-size: min(668px, 100vh);
  display: grid;
  grid-template-rows: 1fr min-content 1fr;
}

.decorative_element {
  position: relative;
  display: flex;
  justify-content: flex-end;
  align-items: flex-start;
  gap: 10px;
}

.decorative_element::before {
  position: absolute;
  content: "rec";
  text-transform: uppercase;
  color: var(--accent-color, #ff0070);
  text-align: center;
  font-family: var(--accent-font, 'IBM Plex mono', monospace);
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 25px; /* 138.889% */
  inset-inline-end: 28px;
}

.decorative_element::after {
  content: "";
  position: absolute;
  width: 9px;
  height: 9px;
  border-radius: 50%;
  background-color: var(--accent-color, #ff0070);
  box-shadow: 0 0 5px 2px var(--accent-color, #ff0070);
  inset-block-start: 8px;
  inset-inline-end: 9px;
}

.decorated-zone::after {
  content: "";
  position: absolute;
  border-top: 1px solid var(--accent-color, #FF0070);
  border-right: 1px solid var(--accent-color, #FF0070);
  top: 10px;
  right: 10px;
  width: 25.038px;
  height: 24.999px;
}

.decorated-zone::before {
  content: "";
  position: absolute;
  border-bottom: 1px solid var(--accent-color, #FF0070);
  border-left: 1px solid var(--accent-color, #FF0070);
  bottom: 10px;
  left: 10px;
  width: 25.038px;
  height: 24.999px;
}

.header__theme-menu-item {
  display: flex;
  align-items: center;
}

.header_title {
  color: var(--title-color, #DB00FF);
  text-shadow: 4px 4px 0px var(--text-shadow, #FF0070);
  font-family: var(--accent-font, 'IBM Plex mono', monospace);
  font-size: clamp(7.25rem, 7.0115rem + 1.0178vw, 7.5rem);
  font-style: normal;
  font-weight: 700;
  line-height: 82.5%; /* 95.7px */
  text-align: left;
}

.title__decor {
  background-color: var(--text-shadow, #FF0070);
  color: var(--accent-text-color,#000028);
  font-family: var(--accent-font, 'IBM Plex mono', monospace);
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
  line-height: 23.4px; /* 130% */
}

.header_paragraph {
  margin-block-start: 55px;
  margin-block-end: 66px;
}

.article {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.article__title {
  color: var(--accent-color, #FF0070);
  font-family: var(--accent-font, 'IBM Plex mono', monospace);
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
  line-height: 23.4px; /* 130% */
}

.title__text {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.article__text {
  color: var(--main-text-color, #F1B2CE);
  font-family: var(--accent-font, 'IBM Plex mono', monospace);
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 23.4px; /* 130% */
}

.main {
  padding-block-start: 40px;
  padding-block-end: 40px;
  padding-inline-start: 10px;
  padding-inline-end: 10px;
  display: flex;
  flex-direction: column;
  gap: 50px;
}

.link {
  text-decoration: none;
  text-shadow: 1px 1px var(--text-shadow, #ff0070);
}

.link:hover {
  text-decoration: underline;
}

.link:focus {
  outline: none;
}

.link:focus-visible {
  border: 1px solid var(--border-color, #ff0070);
}

.title__decor__accent {
  background-color: var(--text-shadow, #FF0070);
  color: var(--accent-text-color,#000028);
  font-family: var(--accent-font, 'IBM Plex mono', monospace);
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 23.4px; /* 130% */
}

.article__image {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.picture {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.image {
  width: 100%;
  object-fit: cover;
}

.footer {
  position: relative;
  padding: 10px;
  block-size: min(668px, 100vh);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.footer__title {
  color: var(--title-color, #DB00FF);
  text-shadow: 2px 2px 0px var(--text-shadow, #FF0070);
  font-family: var(--accent-font, 'IBM Plex mono', monospace);
  font-size: 116px;
  font-style: normal;
  font-weight: 700;
  line-height: 82.5%; /* 95.7px */
}

@media (min-width: 768px) and (max-width: 1023px) {
  .header {
    height: 100vh;
    padding: 20px;
  }
  .decorated-zone::after {
    top: 20px;
    right: 20px;
  }
  .decorated-zone::before {
    bottom: 20px;
    left: 20px;
  }
  .header__theme-menu {
    padding-block-end: 173px;
    padding-block-start: 172px;
  }
  .header_title {
    margin-inline-start: -20px;
  }
  .header_paragraph {
    margin-block-start: 162px;
    margin-block-end: 183px;
    width: 364px;
    justify-self: self-end;
  }
  .main {
    padding-inline-start: 20px;
    padding-inline-end: 20px;
    padding-block-start: 60px;
    padding-block-end: 60px;
    gap: 80px;
  }
  .article__column {
    display: grid;
    grid-template-columns: 1fr 2fr;
    column-gap: 20px;
  }
  .article__title {
    grid-row: span 2;
  }
  .title__text {
    display: grid;
    grid-column-start: 2;
  }
  .article__title__row {
    display: grid;
    grid-template-columns: 0.5fr 2fr;
  }
  .article__image {
    gap: 20px;
  }
  .picture {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
    align-items: stretch;
    grid-template-areas: 
    "sunset sunset ice__cream"
    "tape books ice__cream"
    "tape street street";
  }
  .sunset {
    grid-area: sunset;
  }
  .ice__cream {
    grid-area: ice__cream;
  }
  .tape {
    grid-area: tape;
  }
  .books {
    grid-area: books;
  }
  .street {
    grid-area: street;
  }
  .footer {
    padding: 20px;
    height: 100vh;
  }
  .footer__title {
    font-size: 120px;
  }
} 

@media (min-width: 1024px) {
  .header {
    height: 100vh;
    padding: 20px;
  }
  .decorated-zone::after {
    top: 20px;
    right: 20px;
  }
  .decorated-zone::before {
    bottom: 20px;
    left: 20px;
  }
  .header_title {
    font-size: clamp(7.5rem, 0.5625rem + 14.4531vw, 9.8125rem);
    margin-inline-start: -20px;
  }
  .header__theme-menu {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: flex-start;
    gap: 316px;
    padding-block-end: 273px;
    padding-block-start: 0;
  }
  .header__theme-menu-list {
    flex-direction: row;
    align-items: flex-start;
    gap: 10px;
  }
  .header_paragraph {
    margin-block-start: 115px;
    margin-block-end: 134px;
    width: 491px;
    justify-self: self-end;
  }
  .main {
    padding-inline-start: 20px;
    padding-inline-end: 20px;
    padding-block-start: 60px;
    padding-block-end: 60px;
    gap: 80px;
  }
  .article__column {
    display: grid;
    grid-template-columns: 315px 649px;
    column-gap: 20px;
  }
  .article__title {
    grid-row: span 2;
  }
  .article__row {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: auto;
  }
  .article__title__row {
    grid-row: span 1;
    grid-column: span 3;
    width: 315px;
  }
  .article__title__column {
    grid-row: span 6;
  }
  .article__image {
    gap: 20px;
  }
  .picture {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
    align-items: stretch;
    grid-template-areas: 
    "sunset sunset ice__cream"
    "tape books ice__cream"
    "tape street street";
  }
  .sunset {
    grid-area: sunset;
  }
  .ice__cream {
    grid-area: ice__cream;
  }
  .tape {
    grid-area: tape;
  }
  .books {
    grid-area: books;
  }
  .street {
    grid-area: street;
  }
  .footer {
    padding: 20px;
    height: 100vh;
  }
  .footer__title {
    font-size: 157px;
  }
}